wifi_ssid: "<WIFI SSID>"
wifi_pass: "<Password for WIFI SSID>"
wifi_ap_pass: "<Password for AP mod (if not WIFI connection)"
ota_pass: "<Password for OTA update firmware"
web_server_password: "<Password for web admin>"
mqtt_url: "<url server>"
mqtt_login: "<login>"
mqtt_pass: "<pass>"